# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
.angular/
.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
SFWebAuthentication/
$RECYCLE.BIN/
resources/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
MyCustomLogs.txt
resources
resources/ios
resources/android
node_modules/cordova-plugin-file-transfer
custom_plugins/cordova-plugin-file-transfer
custom_plugins/cordova-plugin-camera
custom_plugins/.DS_Store
cordova-typings.d.ts
