<ion-content class="content">
  <div>
    <ion-grid class="ion-no-padding">
      <ion-row class="full-height">
        <ion-col size-md="7" size-xs="0" class="img-placeholder"></ion-col>
        <ion-col size-md="5" size-xs="12" class="d-flex-middle-center lg-col-container">
          <ion-card class="card">
            <ion-card-title>
              <ion-row>
                Welcome
              </ion-row>
            </ion-card-title>
            <ion-card-content>    
              <div class="Description">Empower your business with real-time, data-driven insights from global media sources to drive strategic decision-making in the dynamic Life Sciences industry</div>
              <ion-button expand="block" type="submit" class="login-btn" (click)="onSubmit()">Login</ion-button>
            </ion-card-content>
          </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>
  </div>
</ion-content>