<ion-header class="heading">
  <ion-toolbar>
    <ion-title>InsightIQ Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="onAddTopic()">Add topic<ion-icon
          name="add-circle-outline"></ion-icon></ion-button>
      <ion-button fill="outline" class="select-region" (click)="onKnowMore()">Know More on Topics
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
      <!-- <input type="file" #fileInputRef id="fileInput" style="display: none" (change)="handleFileInput($event)" accept=".docx,.txt">
      <ion-button (click)="config()">
        <ion-icon name="cloud-upload-outline" slot="icon-only"></ion-icon>
      </ion-button> -->
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="row-config">
      <ion-col size-md="2.5" size-xs="12" class="margin-5">
        <ion-label class="lbl">Region <span class="red">*</span></ion-label>
        <ng-select class="select-region custom" placeholder="Select" [(ngModel)]="regionSelected" (change)="onRegionChange()">
          <ng-option *ngFor="let region of regions" [value]="region.key">{{region.value}}</ng-option>
        </ng-select>
      </ion-col>
      <ion-col size-md="2.5" size-xs="12" class="margin-5">
        <ion-label class="lbl">Topic<span class="red">*</span></ion-label>
        <ng-select class="select-region custom" placeholder="Select" [(ngModel)]="topicSelected">
          <ng-option *ngFor="let topic of topics" [value]="topic.value">{{topic.value}}</ng-option>
        </ng-select>
      </ion-col>
      <ion-col size-md="2.5" size-xs="12" class="margin-5">
        <ion-label class="lbl">Industry</ion-label>
        <ng-select class="select-region custom" placeholder="Select" [(ngModel)]="industrySelected">
          <ng-option *ngFor="let industry of industries" [value]="industry.industry">{{industry.industry}}</ng-option>
        </ng-select>
      </ion-col>
      <ion-col size-md="2.5" size-xs="12" class="margin-5">
        <ion-label class="lbl">Search</ion-label>
        <ion-input [(ngModel)]="search" mode="ios" placeholder="Enter search term" class="inp-topic"></ion-input>
      </ion-col>
      <ion-col size-md="2" size-xs="12" class="margin-5">
        <ion-label> </ion-label>
        <ion-button expand="block" color="primary" fill="solid" [disabled]="!canAnalyse()" (click)="analyse()" class="btn-analyse">Analyse</ion-button>
      </ion-col>
    </ion-row>

    <div #htmlContent id="htmlContent" [ngClass]="exporting ? 'wrapper-print' : ''">
      <ion-row *ngIf="exporting" class="ion-padding">
        <ion-col class="ion-padding">
          <h3 class="ion-text-center">Insights Report</h3>
          <hr>
          Analysis on the viability of a {{industrySelected}} {{topicSelected}} in {{getRegionText()}} as below.
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [size]="isMobile || exporting ? '12' : '6'" class="ion-padding">
          <ion-row>
            <ion-card class="card">
              <ion-card-title class="card-title">
                Annual GDP growth and Inflation rate in percentage
              </ion-card-title>
              <ion-card-content>
                <div *ngIf="!gdpChart">Select region for Annual GDP Growth & Inflataion rate</div>
                <div id="gdpChart" class="full-width" *ngIf="gdpChart">  
                  <apx-chart 
                    [series]="gdpChart.series" 
                    [chart]="gdpChart.chart" 
                    [xaxis]="gdpChart.xaxis"  
                    [title]="gdpChart.title"
                    >
                  </apx-chart>
                </div>  
              </ion-card-content>
            </ion-card>
          </ion-row>
          <br/>
          <ion-row>
            <ion-card class="card">
              <ion-card-title class="card-title">
                Sentiment Analysis from Global Media Data
              </ion-card-title>
              <ion-card-content>
                <ion-spinner *ngIf="isLoadingSentmts"></ion-spinner>
                <div *ngIf="!sentimentChart && !isLoadingSentmts">Select region and enter topic for the sentiment analysis</div>
                <div id="sentimentChart" class="full-width" *ngIf="sentimentChart">  
                  <apx-chart
                    [series]="sentimentChart.series"
                    [chart]="sentimentChart.chart"
                    [dataLabels]="sentimentChart.dataLabels"
                    [plotOptions]="sentimentChart.plotOptions"
                    [yaxis]="sentimentChart.yaxis"
                    [xaxis]="sentimentChart.xaxis"
                    [fill]="sentimentChart.fill"
                    [title]="sentimentChart.title"
                    [labels]="sentimentChart.labels"
                    [legend]="sentimentChart.legend"
                    [colors]="sentimentChart.colors"
                  ></apx-chart>
                  <!-- <apx-chart
                    [series]="sentimentChart.series"
                    [chart]="sentimentChart.chart"
                    [dataLabels]="sentimentChart.dataLabels"
                    [plotOptions]="sentimentChart.plotOptions"
                    [yaxis]="sentimentChart.yaxis"
                    [xaxis]="sentimentChart.xaxis"
                    [legend]="sentimentChart.legend"
                    [colors]="sentimentChart.colors"
                    [grid]="sentimentChart.grid"
                  ></apx-chart>  -->
                </div>  
              </ion-card-content>
            </ion-card>
          </ion-row>
          <br/>
          <ion-row>
            <ion-card class="card card-word-count" #cardWordContainer>
              <ion-card-title class="card-title">
                Keyphrases from Global Media Data
              </ion-card-title>
              <ion-card-content>
                <ion-spinner *ngIf="isLoadingKeyph"></ion-spinner>
                <div *ngIf="wordData?.length == 0 && !isLoadingKeyph">Select region and enter topic for keyphrase extraction</div>
                <div #wordCloudContainer [hidden]="wordData?.length == 0" class="div-chart"></div>  
              </ion-card-content>
            </ion-card>
          </ion-row>
        </ion-col>
        <ion-col [size]="isMobile || exporting ? '12' : '6'" class="ion-padding">
          <ion-card class="card card-insights">
            <ion-card-title class="card-title">
              <div class="d-flex-justify-between">
                <span>Global Media Insights</span>
                <ion-button size="small" fill="clear" class="btn-export" (click)="onExport()" *ngIf="globalInsights && !exporting">
                  <ion-icon name="download-outline" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button size="small" fill="clear" class="btn-export" (click)="onNewsDown()" *ngIf="globalInsights && !exporting">
                  <ion-icon name="newspaper-outline" slot="icon-only"></ion-icon>
                </ion-button>
              </div>
            </ion-card-title>
            <ion-card-content [ngClass]="globalInsights ? 'card-top' : ''">
              <ion-spinner *ngIf="isLoadingInsights"></ion-spinner>
              <div *ngIf="!globalInsights && !isLoadingInsights">Select region and enter topic for the insights</div>
              <div class="score" *ngIf="globalInsights && overallScore?.length > 0">Score: {{overallScore}}</div>
              <div [innerHTML]="globalInsights"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
