<ion-header class="heading">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="onAddTopic()">Add topic<ion-icon
          name="add-circle-outline"></ion-icon></ion-button>
      <ion-button fill="outline" class="select-region" (click)="onKnowMore()">Know more<ion-icon
          name="help-outline"></ion-icon>
      </ion-button>
      <input type="file" #fileInputRef id="fileInput" style="display: none" (change)="handleFileInput($event)" accept=".docx,.txt">
      <ion-button (click)="config()">
        <ion-icon name="cloud-upload-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="row-config">
      <ion-col size-md="2.5" size-xs="12" class="margin-5">
        <ng-select class="select-region custom" placeholder="Region *" [(ngModel)]="regionSelected" (change)="onRegionChange()">
          <ng-option *ngFor="let region of regions" [value]="region.key">{{region.value}}</ng-option>
        </ng-select>
      </ion-col>
      <ion-col size-md="2.5" size-xs="12" class="margin-5">
        <ng-select class="select-region custom" placeholder="Topics *" [(ngModel)]="topicSelected">
          <ng-option *ngFor="let topic of topics" [value]="topic.value">{{topic.value}}</ng-option>
        </ng-select>
      </ion-col>
      <ion-col size-md="2.5" size-xs="12" class="margin-5">
        <ng-select class="select-region custom" placeholder="Industry" [(ngModel)]="industrySelected">
          <ng-option *ngFor="let industry of industries" [value]="industry.industry">{{industry.industry}}</ng-option>
        </ng-select>
      </ion-col>
      <ion-col size-md="2.5" size-xs="12" class="margin-5">
        <ion-input [(ngModel)]="search" mode="ios" placeholder="Search" class="inp-topic"></ion-input>
      </ion-col>
      <ion-col size-md="2" size-xs="12" class="margin-5">
        <ion-button expand="block" color="primary" fill="solid" [disabled]="!canAnalyse()" (click)="analyse()">Analyse</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="ion-padding">
        <ion-row>
          <ion-card class="card">
            <ion-card-title class="card-title">
              Annual GDP growth (percent change)
            </ion-card-title>
            <ion-card-content>
              <div *ngIf="!gdpChart">Select region for Annual GDP Growth & Inflataion rate</div>
              <div id="gdpChart" class="full-width" *ngIf="gdpChart">  
                <apx-chart 
                  [series]="gdpChart.series" 
                  [chart]="gdpChart.chart" 
                  [xaxis]="gdpChart.xaxis"  
                  [title]="gdpChart.title"
                  >
                </apx-chart>
              </div>  
            </ion-card-content>
          </ion-card>
        </ion-row>
        <br/>
        <ion-row>
          <ion-card class="card" #cardWordContainer>
            <ion-card-title class="card-title">
              Keyphrases
            </ion-card-title>
            <ion-card-content>
              <ion-spinner *ngIf="isLoadingKeyph"></ion-spinner>
              <div *ngIf="wordData?.length == 0 && !isLoadingKeyph">Select region and enter topic for keyphrase extraction</div>
              <div #wordCloudContainer [hidden]="wordData?.length == 0" class="div-chart"></div>  
            </ion-card-content>
          </ion-card>
        </ion-row>
        <br/>
        <ion-row>
          <ion-card class="card">
            <ion-card-title class="card-title">
              Sentiment Analysis
            </ion-card-title>
            <ion-card-content>
              <ion-spinner *ngIf="isLoadingSentmts"></ion-spinner>
              <div *ngIf="!sentimentChart && !isLoadingSentmts">Select region and enter topic for the sentiment analysis</div>
              <div id="sentimentChart" class="full-width" *ngIf="sentimentChart">  
                <apx-chart
                  [series]="sentimentChart.series"
                  [chart]="sentimentChart.chart"
                  [dataLabels]="sentimentChart.dataLabels"
                  [plotOptions]="sentimentChart.plotOptions"
                  [yaxis]="sentimentChart.yaxis"
                  [xaxis]="sentimentChart.xaxis"
                  [legend]="sentimentChart.legend"
                  [colors]="sentimentChart.colors"
                  [grid]="sentimentChart.grid"
                ></apx-chart> 
              </div>  
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-col>
      <ion-col size="6" class="ion-padding">
        <ion-card class="card card-insights">
          <ion-card-title class="card-title">
            Global Insights
          </ion-card-title>
          <ion-card-content [ngClass]="globalInsights ? 'card-top' : ''">
            <ion-spinner *ngIf="isLoadingInsights"></ion-spinner>
            <div *ngIf="!globalInsights && !isLoadingInsights">Select region and enter topic for the insights</div>
            <div [innerHTML]="globalInsights"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
<!-- 
    <ion-row class="h-50">
      
    </ion-row> -->
    
    <!-- <ion-row class="h-50">
      <ion-col size="12" class="ion-padding">
        <ion-card class="card">
          <ion-card-title class="card-title">
            Global Insights
          </ion-card-title>
          <ion-card-content [ngClass]="globalInsights ? 'card-top' : ''">
            <ion-spinner *ngIf="isLoadingInsights"></ion-spinner>
            <div *ngIf="!globalInsights && !isLoadingInsights">Select region and enter topic for the insights</div>
            <div [innerHTML]="globalInsights"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
